{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:tailwindcss/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:unicorn/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime", // must be before react plugins
    "plugin:prettier/recommended" // must be last
  ],
  "ignorePatterns": ["node_modules"],
  "noInlineConfig": false,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "reportUnusedDisableDirectives": true,
  "root": true,
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state"] }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "ignoreRestSiblings": false,
        "vars": "all"
      }
    ],
    "import/default": "error",
    "import/export": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/first": "error",
    "import/namespace": [
      "error",
      {
        "allowComputed": true
      }
    ],
    "import/newline-after-import": "error",
    "import/no-absolute-path": "error",
    "import/no-amd": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-cycle": [
      "error",
      {
        "ignoreExternal": true
      }
    ],
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-mutable-exports": "error",
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-named-default": "error",
    "import/no-self-import": "error",
    "import/no-useless-path-segments": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/order": "error",
    "react/prefer-read-only-props": "error",
    "tailwindcss/classnames-order": "off",
    "tailwindcss/no-custom-classname": "warn",
    "unicorn/better-regex": [
      "error",
      {
        "sortCharacterClasses": false
      }
    ],
    "unicorn/consistent-destructuring": "off", // buggy
    "unicorn/expiring-todo-comments": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-array-callback-reference": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-array-method-this-argument": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-for-loop": "off",
    "unicorn/no-useless-undefined": [
      "error",
      {
        "checkArguments": false
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "checkDefaultAndNamespaceImports": false,
        "checkFilenames": false,
        "checkShorthandImports": false,
        "extendDefaultReplacements": false,
        "replacements": {
          // Not part of `eslint-plugin-unicorn`
          "application": {
            "app": true
          },
          "applications": {
            "apps": true
          },
          // Part of `eslint-plugin-unicorn`
          "arr": {
            "array": true
          },
          "blacklist": {
            "exclude": true
          },
          "e": {
            "error": true,
            "event": true
          },
          "el": {
            "element": true
          },
          "elem": {
            "element": true
          },
          "err": {
            "error": true
          },
          "len": {
            "length": true
          },
          "master": {
            "main": true
          },
          "msg": {
            "message": true
          },
          "num": {
            "number": true
          },
          "obj": {
            "object": true
          },
          "opts": {
            "options": true
          },
          "param": {
            "parameter": true
          },
          "params": {
            "parameters": true
          },
          "prev": {
            "previous": true
          },
          "req": {
            "request": true
          },
          "res": {
            "response": true,
            "result": true
          },
          "ret": {
            "returnValue": true
          },
          "slave": {
            "secondary": true
          },
          "str": {
            "string": true
          },
          "temp": {
            "temporary": true
          },
          "tmp": {
            "temporary": true
          },
          "val": {
            "value": true
          },
          "whitelist": {
            "include": true
          }
        }
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": true,
      "typescript": true
    },
    "react": {
      "version": "detect"
    },
    "tailwindcss": {
      "config": "./tailwind.config.cjs"
    }
  }
}
